.ng-enter
  animation: fadeIn 0.5s;

.ng-leave
  animation: fadeOut 0.5s;
  // line-height:0;

// .ng-show-add, .ng-hide-add
//   animate: bounceInUp 1s

// * {
//   -webkit-transition:all linear 0.5s;
//   transition:all linear 0.5s;
// }
 
// .ng-hide-add,
// .ng-hide-remove {
//   display:block!important;
// }
 
// .ng-hide {
//   line-height:0;
//   opacity:0;
//   padding:0 10px;
// }
