svg
  // background-color: $backgroundColor
  // left: 0px
  // top: 0px
  // position: absolute

.node
  stroke: #fff
  stroke-width: 3px

.node-highlight
  stroke: #bada55
  stroke-width: 2px

.link
  stroke-width: 2px
  stroke: #999
  stroke-opacity: 0.3