nav
  position fixed
  z-index 100
  width 100%
  background: linear-gradient(top, #3c3c3c, #222);
  height 55px

.content
  position absolute
  top 55px
  left 0px
  bottom 0px
  right $sidePanelWidth

.side-panel
  position absolute
  top 55px
  bottom 0px
  right 0px
  padding 10px
  width: $sidePanelWidth
  background: url('http://s3.amazonaws.com/linkedin_inmaps_images/images/sidepanel-bg.gif') #dedede repeat-y left