// Search bar
.search
  width: 100%

// Search Results
.results
  margin-right 40px
  background-color white
  box-shadow $shadow

  .result:hover
    background-color #F0F0FF
    cursor: pointer

  .result
    padding 10px
    border-bottom 1px solid #E9E9E9

    .info
      font-size 10px
      color #848484
