// Node summary box
.summary
  padding 10px
  cursor: pointer
  box-shadow $shadow
  background-color: white
  margin-top 20px

  .header
    font-size 16px
    font-weight 500

// Divider between panel sections
.divider
  border-bottom 1px solid #9B9B9B
  margin 25px 0px 10px 0px

// Table Styles
.dropdown-table
  margin: 0px
  overflow: auto
  background-color white
  .key
    font-weight 600
    width: 100px
// TODO: find a way to adjust panel body without overriding defaults
.panel
  border-radius 0px !important
  box-shadow $shadow
.panel-body
  padding 8px