@import 'nib'

// Variables
// =========

// $shadow = 0 2px 6px rgba(0,0,0,0.1),0 4px 15px -5px rgba(0,0,0,0.0)
$shadow = 1px 1px 5px #050505;
// $shadow = 0px 2px 1px #999; inmaps
$color1 = #ca8142
$backgroundColor = white
$sidePanelWidth = 300px


.labels {
  color: red;
  background-color: white;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  width: 40px;     
  border: 2px solid black;
  white-space: nowrap;
}

.stations, .stations svg {
  position: absolute;
}

.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
}

.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}


.map-control
  background-color: white
  margin:1em
  padding:.5em
  border-radius: 1em

.google-map
  width:100%
  height:100%
  // z-index: -50;
  // margin-right: 260px

html, body
  height: 100%
  margin: 0px
  padding: 0px
  overflow-x: hidden

html, body, .dataCtrl, .content, .side-panel
  height 100%

// Loading popover
// ===============

.loading
  position absolute
  top: 0; left: 0; bottom: 0; right: 0;
  margin auto
  background: rgba(255,255,255,0.6)
  z-index 100
  img
    position absolute
    top: 0; left: 0; bottom: 0; right: 0;
    margin auto

// D3 Styles
// =========

svg
  // background-color: $backgroundColor
  // left: 0px
  // top: 0px
  // position: absolute

.node
  stroke: #fff
  stroke-width: 3px

.link
  stroke-width: 2px
  stroke: #999
  stroke-opacity: 0.3



// Main Styles
// ================

.navbar
  border-radius 0px
  margin-bottom 0px

  ul
    font-size 16px
    line-height 55px
    padding-right 15px

.fluid-container
  // Make the container background transparent so we can see the background div
  background: rgba(255,255,255,0.0);
  padding-left: 15px
  padding-right: 15px
  margin-left: auto
  margin-right: auto
  z-index: -100

// Site Title
.title
  font-size 25px
  font-weight 500

.content
  position relative
  float left
  margin-right: $sidePanelWidth
  width: 100%
  // margin-right: 240px

.search
  width 200px
  float right
  // top 15px
  margin px 0px 0px 15px

nav
  position fixed
  z-index 100
  width 100%
  background: linear-gradient(top, #3c3c3c, #222);
  height 55px

.side-panel
  position absolute
  top 0px
  right 0px
  padding 10px
  // position relative
  // float right
  width: $sidePanelWidth
  background: url('http://s3.amazonaws.com/linkedin_inmaps_images/images/sidepanel-bg.gif') #dedede repeat-y left

.divider
  border-bottom 1px solid #9B9B9B
  margin 25px 0px 10px 0px

// Table Styles
.dropdown-table
  margin: 0px
  overflow: auto
  background-color white

  .key
    font-weight 600
    width: 100px
// TODO: find a way to adjust panel body without overriding defaults
.panel
  border-radius 0px !important
  box-shadow $shadow

// .panel-group
//   margin-top 15px !important

// .panel, .panel-group
//   margin 5px 0px 5px 0px

.panel-body
  padding 8px

// Display results
.results
  margin-right 40px
  background-color white
  box-shadow $shadow

  .result:hover
    background-color #F0F0FF
    cursor: pointer

  .result
    padding 10px
    border-bottom 1px solid #E9E9E9

    .info
      font-size 10px
      color #848484



// Miscellaneous Add-ons
// =====================

// To make columns float above the svg panel
// Don't put this on rows! It will mess up the svg functionality
.hover
  z-index: 50

.float-right
  float right

.top-buffer
  padding-top: 55px



