@import 'nib'

// Reset all styles

html, body
  background-color: #F5F5F5

svg
  background-color: #F5F5F5
  z-index: -10
  left: 0px
  top: 0px
  position: absolute

.node
  stroke: #fff
  stroke-width: 3px

.link
  stroke-width: 4px
  stroke: #999
  stroke-opacity: 0.3

.fluid-container
  z-index: 10
  padding-left: 15px
  padding-right: 15px
  margin-left: auto
  margin-right: auto
  background-color: #F5F5F5;

.top-row
  line-height 30px
  margin-top: 20px

.title 
  font-size 25px
  font-weight 500
  text-align right
  
.results 
  margin-right 40px
  background-color white
  box-shadow $shadow
  
  .result:hover
    background-color #F0F0FF
    cursor: pointer

  .result
    padding 10px
    border-bottom 1px solid #E9E9E9

    .info
      font-size 10px
      color #848484

// input, button
//   -webkit-appearance: none
//   margin none
//   outline: none

// // Global styles
// html, body
//   font-family Roboto, Arial, sans-serif
//   padding none
//   margin none

// // Search Box
// $shadow = 1px 1px 5px #C5C5C5
// .search
//   margin 15px 0px 0px 30px
//   font-size 15px
  
//   .search-bar
//     background transparent
//     border-radius 3px
//     line-height 32px
//     font-size 15px
//     box-shadow: $shadow
//     // box-shadow 0 2px 6px rgba(0,0,0,0.3),0 4px 15px -5px rgba(0,0,0,0.0)
//     display inline-block
    
//     input
//       margin 0px
//       display inline
//       box-shadow none
//       border none
//       width 350px

//     button
//       color white
//       font-size 17px
//       height 32px
//       width 60px
//       background-color #4d90fe
//       border none
//       border-radius 0px 3px 3px 0px







