<!-- Loading gif -->
<div ng-show="loading" class="loading">
  <img src="img/ajax-loader.gif"></img>
</div>

<!-- Content -->
<div class="content">
  <div map class="google-map" latitude="43.074688" longitude="-89.384294" loading="loading" nwdata="ctldata" selected-node="selectedNode" connections="connections"></div>
</div>

<!-- Side Panel -->
<div class="side-panel" style="overflow-y: scroll">
  
  <!-- Search -->
  <!-- <div ng-include="'search.html'"></div>  -->
  <div class="input-group search">
    <input placeholder="search for node" type="text" ng-model="liveSearch" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
  </div>

  <!-- Node View -->
  <div ng-show="selectedNode && !liveSearch" ng-controller="accordionController">
    <accordion close-others="oneAtATime">
      <!-- Title -->
      <div class="summary">
        <div class="header">{{ selectedNode.name }}</div>
        <div>Data Center</div>
        <div>{{ selectedNode.location }}</div>
      </div>
      <!-- Info -->
      <div class="divider">NODE INFO</div>
      <accordion-group heading="Attributes" is-open="true">
        <div ng-repeat="(key, value) in selectedNode" ng-include="'tree_item_renderer.html'"></div>
      </accordion-group>
      <!-- Connections -->
      <div class="divider">CONNECTIONS</div>
    </accordion>
  </div><!-- /accordianCtrl -->

  <!-- List view -->
  <div ng-show="liveSearch || !selectedNode">
    <div class="summary" ng-click="select(node)" ng-repeat="node in ctldata | filter:liveSearch">
      <div class="header">{{ node.name }}</div>
      <div>Data Center</div>
      <div>{{ node.location }}
    </div>
  </div>

</div><!-- /.sidePanel